h1{
    color: white;
    font-family: 'Open Sans Condensed';


}
h2{
    color: #2442EA;
    font-family: 'Open Sans Condensed';

}

p{
    color: red;
    font-family: 'Open Sans Condensed';

}


.btn {
    background-color: #61dafb;
    font-family: 'Open Sans Condensed';

}

#btn-custom {
    background-color: #2442EA;
    padding: 10px 36px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}
#error{
    font-size: 100px;
}

